/*RESET*/
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
 }
 /*
 @font-face {
     font-family: 'Proxima Nova Font';
     src: url('../fonts/Proxima-Nova-Font/Proxima Nova Font.otf');
 }*/
 
 main {
     
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: stretch;
     
 }

 /* TOP */
 
 .top {
    display: flex;
    background-color: #222222;
    height: 40px;
    width: 100%;
    color: red;
}
.top a {
    color: white;
    z-index: 4;
}
.contact-details {
    font-size: 1.1rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    padding: auto;
    margin: auto;
    margin-left: 40px; 
}
.fa-brands {
    color: grey;
}
.fa-brands:hover {
    color: rgba(249, 247, 247, 0.935);
}
/* LANGUAGES */

.contenedor {
   width: 8%;
   position: absolute;
 right: 0;
   margin: auto;
   padding: 1px 0;
 
}

.selectbox {
   width: 100%;
   margin: auto;
   position: relative;
 background-color: transparent;
 z-index: 20;
}
.contenido-select {
 display: flex;
 justify-content: space-between;
   align-items: center;
}

.select {
 
   width: 80%;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
   border-radius: 5px;
   cursor: pointer;
   display: flex;
 justify-content: space-between;
   align-items: center;
   transition: .1s ease all;
   margin-bottom: 1px;
   padding: 2px;
   position: relative;
   z-index: 200;
}




.select i {
   font-size: 0.7em;
   margin-left: 10px;
   color: white;
}

.titulol {
   margin-left: 10px;
 color: white;
 
   font-weight: 600;
   font-size: 0.8em;
}

.opciones {
   background: #222222;
   border-radius: 5px;
   box-shadow: 0px 5px 10px rgba(0,0,0,.16);
   
   overflow: auto;
   z-index: 100;
   width: 70%;
   display: none;
 overflow-x: hidden;
}

.opciones.active {
   display: block;
   animation: fadeIn .3s forwards;
 background-color: #585757;
}

@keyframes fadeIn {
   from {
       transform: translateY(-200px) scale(.5);
   }
   to {
       transform: translateY(0) scale(1);
   }
}

.contenido-opcion {
   width: auto;
   display: flex;
   align-items: center;
   transition: .2s ease all;
}

.opciones .contenido-opcion {
   padding: 10px;
}

.contenido-opcion img {
   width: 30px;
   

}
.contenido-select img {
 width: 30px;
}

.opciones .contenido-opcion:hover {
   background: #222222;
}

.opciones .contenido-opcion:hover .titulol,
.opciones .contenido-opcion:hover .descripcion {
   color: #fff;
}

@media screen and (max-width: 800px){
   .selectbox {
       width: 100%;
   }
}

 /*HEADER*/
 header {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 5vh;
     z-index: 3;
     background-color: transparent;
     padding: 3% 0.1% 3% 0.1%;
     
 }
 /*Cuando haces scroll el fondo del header cambia de color:*/
 
 header.abajo {
     background-color: #fff;
     box-shadow: 1px 1px 7px 1px rgba(178, 178, 178, 0.427);
     transition: 0.8s;
     padding: 20px 0.1% 20px 0.1%;
 }
 
 .header-logo {
     display: flex;
     flex-direction: row;
     position: absolute;
     margin-left: 2.7%;
 }
 #logo {
     
     height: 6vh;
 }
 .logo-text {
     
     font-weight: 200;
     color: #3D3E3B;
     position: relative;
     margin-top: 5%;
     margin-left: 5%;
     font-size: 14px;
     
 }
 
 /*menu*/
 .header-menu {
     
 }
 nav {
     
     position: absolute;
     right: 2%;
     background-color: transparent;
     padding-right: 0;
     color: #3D3E3B;
 }
 
 nav ul {
 
     display: flex;
     list-style-type: none;
     padding: 0;
     margin: 0 ;
     overflow: hidden;
        
 }
 
 nav ul li a, .dropbtn {
     display: inline-block;
     color: #3D3E3B;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 
 
 nav ul li.dropdown {
     display: inline-block;
     transition: 0.8s;
 }
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: white;
     z-index: 1;
     height: 13vh;
     width: 50%;
     box-shadow: 1px 12px 33px rgba(0,0,0,0.5);
 }
 /*flecha bocadillo*/
 .dropdown-content::before {
     border: 25px solid transparent;
     content: '';
     border-bottom: 20px solid white;
     border-right: 18px solid transparent;
     border-left: 18px solid transparent;
     position: absolute;
     margin: -35px 0 0 65px;
 }
 
 
 .dropdown-content a {
     color: #3D3E3B;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }
 
 .dropdown:hover .dropdown-content {
     display: block;
 }
 
 a, a:visited {
     text-decoration: none;
     color: #3D3E3B;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
     padding: 0 0 1px;
 }
 
 
 .mostrar-menu, .esconder-menu {
     font-size: 30px;
     display: none;
     transition: 0.4s;
 }
 .mostrar-menu {
     order: 1; /*para que el menu hamburguesa salga al final del menu*/
 }
 .menu a:hover, .mostrar-menu:hover, .esconder-menu:hover {
     color: #3D3E3B;
 }
 #check {
     display: none;
 }
 /* BANNER */
 #banner {
     width: 100%;
     padding: 0 50px;
     background-image: url(./imagenes/About/Untitled-1-1.jpg);
     height: 72vh;
     background-size: cover; /*Para que la imagen rellene todo el espacio y se vea completa*/
     background-position: center;
 }
 .contenido-banner {
     text-align: right;
     position: relative;
     bottom: -36%;
     line-height: 2vh;
     color: #fff;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .contenido-banner h3 {
     font-size: 1.4em;
     font-weight: 400;
     
 }
 .contenido-banner h3 span {
     font-weight: 600;
 
 }
 
 .boton-empezar {
     
     text-decoration: none;
     color: #fff;
     border: 1px solid #6cc091;
     border-radius: 10px;
     padding: 20px 40px;
     align-self: baseline; /* Esto es una propiedad de flexbox que adapta el tamaño del contenedor al contenido*/
 }
 .boton-empezar:hover {
     background: #6cc09070;
     color: white;
 }
 /*   TEXTO PRINCIPAL  */
 #texto-principal {
     padding: 5% 17%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     gap: 10px;
     background-color: #C3C3C3;
     
 }
 .titulo {
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 25px;
     padding-bottom: 20px;
     
 }
 .parrafo {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     font-weight: lighter;
     line-height : 30px;
     color: black;
     
 }
 
   @media only screen and (max-width: 769px){
      
     
     .container .galeria{
      flex-direction: column;
     }
   
   .container .galeria .dream{
     width: 100%;
     flex-direction: column;
   }
   footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     padding-top: 3%;
     padding-bottom: 3%;
   }
   
   
   
   }
  
 
   
 /*RESPONSIVE*/
 @media(max-width: 899px){ /*la web original es de hasta 899px*/
     /*HEADER*/
     .mostrar-menu, .esconder-menu{
         display: block;
     }
     .mostrar-menu {
         position:absolute;
         right: 5%;
     }
     nav {
         background-color: #fff;
       
     }
     .menu{
         position: fixed;
         display:flex;
         width: 80%;
         height: 100vh;
         right: -100%;
         top: 0;
         background-color: #fff;
         text-align: left;
         padding: 100px 0;
         z-index: 100;
         
     }
     nav ul {
         display: block;
         padding: 20px;
         
     }
     .menu a{
         display: block;
         padding: 20px;
     }
     nav ul li{
         border-bottom: 1px solid grey;
     }
     .esconder-menu{
         position: absolute;
         top: 40px;
         right: 40%;
         color: grey;
     }
     #check:checked ~ .menu{
         right: 0%;
     }
     .top {
         background-color: blue;
     }
 }
 
 
 #img-clients {
    width: 90%;
    height: auto;
    align-self: center;
    border-radius: 10px;
 }
 
 
 
 
 footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #222222;
     height: 15vh;
     width: 100%;
     color: #FFFFFFB3;
 }
 .footer-left {
     margin-left: 2%;
     
 }
 .footer-right {
     margin-right: 2%;
     
 }
 .sitemap ul {
     display: flex;
     list-style-type: none;  
 }
 
 .sitemap ul a, .sitemap ul a:visited {
     display: inline-block;
     color: #FFFFFFB3;
     text-align: center;
     padding-right: 10px;
     text-decoration: underline;
     text-underline-offset: 4px;
 }
 .instalink {
     text-decoration: underline;
     color: #FFFFFFB3;
 }